@import '../../global.scss';

.list__item {
  font-size: 1.4rem;
  margin-right: 5rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  cursor: pointer;

  @include tab {
    font-size: 1.2rem;
    margin-right: 1.5rem;
    padding: 0.5rem;
  }

  &--active {
    background-color: $mainColor;
    color: $colorWhite;
  }
}
