@import '../../global.scss';

.works {
  background-color: #dc143c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include tab {
    overflow: hidden;
  }

  .arrow {
    height: 5rem;
    position: absolute;
    cursor: pointer;

    @include tab {
      display: none;
    }

    &.left {
      left: 10rem;
      transform: rotateY(180deg);
    }

    &.right {
      right: 10rem;
    }
  }

  .slider {
    height: 35rem;
    display: flex;
    position: absolute;
    left: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;

    @include tab {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 70rem;
        height: 100%;
        background-color: $colorWhite;
        border-radius: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        @include tab {
          width: 80%;
          height: 15rem;
          margin: 1.5rem 0;
        }

        .left {
          flex: 4;
          height: 80%;

          display: flex;
          align-items: center;
          justify-content: center;

          &__container {
            width: 90%;
            height: 70%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include tab {
              width: 100%;
              height: 100%;
            }

            .img__container {
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);

              display: flex;
              align-items: center;
              justify-content: center;

              @include tab {
                width: 2rem;
                height: 2rem;
              }

              img {
                width: 2.5rem;

                @include tab {
                  width: 1.5rem;
                }
              }
            }

            h2 {
              text-transform: capitalize;
              font-size: 2rem;

              @include tab {
                font-size: 1.3rem;
              }
            }

            p {
              font-size: 1.3rem;

              @include tab {
                display: none;
              }
            }

            span {
              font-size: 1.2rem;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 40rem;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
