.list__item {
  margin-bottom: 2.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    font-weight: 500;
  }

  &--link {
    color: inherit;
    text-decoration: none;
    font-size: 2.2rem;
  }
}
